* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #eee;
}

h2 {
    margin-top: 1em;
    font-size: 21px;
    font-weight: 500;
    border-bottom: 1px solid #aaa;
}

h5,
p {
    margin-top: 7px;
    font-size: 14px;
}

b {
    color: #fab;
}

.warning {
    background-color: rgba(100, 20, 90, 0.2);
    border: 2px solid #D29;
    border-radius: 1em;
    padding: 0.5em;
    margin: 15px 0;
    text-align: center;
}

.right {
    float: right;
    margin: -27px 30px 0 0;
    color: var(--rw-main-grey);
}

.nav {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.nav ul {
    display: flex;
    flex-direction: row;
    cursor: default;
}

.nav ul li {
    height: 33px;
    margin: 3px 15px;
    line-height: 33px;
    text-align: center;
    color: var(--rw-border-grey);
}

.nav ul li a {
    color: var(--rw-border-grey);
}

.current {
    color: #fff !important;
}

/* 边栏样式 */
.aside {
    width: 180px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #a2a9b1;
    font-size: 16px;
    font-weight: 500;
}

.aside-mask {
    position: sticky;
    top: 140px;
}

.aside h2 {
    margin-top: 0.5em;
    font-size: 18px;
    font-weight: 700;
}

.aside h3 {
    margin-top: 0.5em;
    font-size: 16px;
}

.aside ul li a {
    margin-left: 1em;
    font-size: 14px;
}

.aside a:hover {
    text-decoration: underline;
    color: #fff;
}

.tocnumber {
    margin-right: 0.3em;
    color: #aaa;
}

.about ul li a {
    color: var(--rw-border-grey);
}

/* 强兼移动端？ */
@media (max-width: 768px) {
    .left-panel {
        padding-right: 0;
    }

    #aside,
    #asideMask {
        display: none;
        transition: all 0.5s ease;
    }

    #aside.visible,
    #asideMask.visible {
        display: block;
    }

    #aside.hiding {
        opacity: 0;
        transform: translateX(-100%);
    }

    #aside.show {
        opacity: 1;
        transform: translateX(0);
        width: 100%;
        height: 90vh;
        z-index: 1500;
        background: rgba(0, 0, 0, 0.8);
    }

    .asidebtn {
        width: 45px;
        height: 45px;
        display: block !important;
        position: fixed;
        bottom: 60px;
        right: 15px;
        z-index: 2000;
    }

    #toggleBtn {
        width: 39px;
        height: 38px;
        background-image: url(/resources/img/aside.png);
        background-repeat: no-repeat;
    }

    .aside-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .aside.show {
        transform: translate(0, 0);
        transition: transform 0.2s ease-out;
    }

    .aside.hiding {
        transform: translate(100%, 100%);
        transition: transform 0.2s ease-in;
    }

    .container {
        min-width: calc(100% - 30px) !important;
    }

    #footer {
        margin-left: 0 !important;
        left: 0 !important;
    }
}

/* 内容索引样式 */
#indexcontents {
    width: 100%;
    margin-top: 10px;
    display: block;
    position: relative;
    text-align: center;
    font-family: var(--font-body);
    font-weight: 500;
    color: var(--rw-border-grey);
    /* menu lightgray */
    border-radius: 8px;
    border: 2px solid var(--rw--border-grey-dark);
    border-color: #4B4653;
}

.indexgroup {
    text-align: center;
    font-family: var(--font-body);
    color: var(--rw-border-grey);
    /* menu lightgray */
    margin: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 8px;
    border: 2px solid var(--rw--border-grey-dark);
    border-color: #4B4653;
}

.indexgroup h3,
h4 {
    margin: 1.1em
}

.indexgroup figure {
    display: inline-block;
    border-radius: 8px;
    border: 2px solid var(--rw--border-grey-dark);
    border-color: white;
    background: rgba(0, 0, 0, 0.3);
    margin: 15px;
    max-width: 350px;
}

.indexgroup figcaption {
    text-align: center;
    font-family: var(--font-body);
    font-weight: 600;
    color: var(--rw-border-grey);
    padding: 10px;
    padding-top: 1px;
}

.indexgroup content {
    width: auto;
    display: flex;
    text-align: center;
    font-family: var(--font-body);
    font-weight: 500;
    color: var(--rw-border-grey);
    padding: 10px;
    flex-wrap: wrap;
}

/* 表格样式 */
.indexgroup table {
    width: 100%;
    border-radius: 7px;
    border: 2px solid var(--rw--border-grey-dark);
    border-color: var(--rw-border-grey);
    align-content: center;
    text-align: center;
    margin: 1px;
}

.indexgroup tr {
    text-align: left;
}

.indexgroup td {
    padding: 3px;
    border-radius: 8px;
    border: 2px solid var(--rw--border-grey-dark);
    border-color: var(--rw-border-grey);
    max-width: 200px;
    min-width: 20px;
}